<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="message-sm">
        <h1>Your Learning order is confirmed</h1>
        <p>And we are just excited as you are.</p>
      </div>
      <br />
      <br />
      <div class="courseInfo">
        <h2>Here's what you Ordered</h2>
        <table style="border-bottom: 1px solid #000">
          <tr>
            <td>Order #: <%= order._id %></td>
            <td>Order Date: <%= order.date %></td>
          </tr>
        </table>
        <br />
        <table style="width: 90%; margin: auto; display: block">
          <tr>
            <td>Item</td>
            <td>Qty</td>
            <td>Cost</td>
          </tr>
        </table>
        <br />
        <table style="width: 90%; margin: auto; display: block">
          <tr>
            <td><%= order.name %></td>
            <td>1</td>
            <td><%= order.price %></td>
          </tr>
        </table>
        <br />
        <table style="border: 1px solid #111">
          <tr>
            <td>Subtotal</td>
            <td>$<%= order.price %></td>
          </tr>
        </table>
        <br />
        <table style="border: 1px solid #111">
          <tr>
            <td>Total:</td>
            <td>$<%= order.price %></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
